*{

    padding: 0px;
    margin:0px;
 
}

#top_menu{
    width:1000px;
    height:83px;
    background-color: #ffffff;
}

.menu_space{

    margin-right: 37px;

}

#wrapper{

        margin:auto;
        width:1000px;
        height: 1000px;

        background-color: aqua;

}


.clear{


    clear:both;
}

ul{

    list-style-type: none;
}


#main_box_notification{

    height: 50px;

    width: 128.5px;

   float: right;   
}

#main_box_notification_in{
    position: relative;
    left:3px;
    top:3px;
}


#main_menu ul a:hover{
    color:#ABB2B9;
}

a:visited {
    color:#0055cc;
    background-color: transparent;
    text-decoration: none;
}



#main_id{
    float: left;
    width: 1000px;
    height: 500px;
    background-color: red;
}

#main_menu{
    line-height:50px;
    width: 470px;
    height:50px;
    margin-right: 40px;
    margin-top:20px;
    float: right;
}


#test{

    width: 5px;
    height: 5px;

    background-color: yellow;

}

.menu_box{
    
    float:right;
    font-family: 'David Libre', serif;
    color:#0055cc;
    font-size:24px;
}

#gray_gradient{

    width: 1000px;
   background-color: red;
   height: 10px;
    box-shadow:10px 10px #888888;
}

a{
    text-decoration: none;
}

#magnifying_glass_id{
    float: right; 
    margin-right: 31px;
    margin-top:24px;
}



#i_smart_logo_id{
    float:left;
    margin-top:25px;
    margin-left:17px;
}


.badge1 {
    position: relative;
    left:7px;
    top:4px;
    font-size:14px;
    background:#0055cc;
    color:white;
    width:18px;
    height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
 }

 #student_table{
    float:left;
    margin-right: 28px;
    margin-left:38px;
    margin-top:16px;
    width: 683px;
    background-color: blue;
}

#user_name{
    margin-top:13px;
    margin-left:38px;
    width:130px;
    height: 39px;
    background-color: yellow;
}

#main_right_menu{
    float:left;
    width: 221px;
    height: 400px;
    background-color: green;
}


#right_menu{
    margin-top:16px;
    float:left;
    width:  221px;
    height: 470px;
    background-color: yellow;
}

#calendar{
        float:left;
        width: 221px;
        height: 221px;
        background-color: black;
}


#note{
    margin-top:20px;
    float:left;
    width: 221px;
    height: 221px;
    background-color: darkkhaki;
}

@media screen and (max-width:1000px) and (min-width:300px)
{
    #wrapper{
        margin:auto;
        width:750px;
        height: 1000px;   
    }

    #top_menu{
        width:750px;
    }

    #magnifying_glass_id{
        margin-left:10px;
    }

    #main_menu{
        margin-right: 5px;
    }

    .menu_space{
        margin-right: 20px;
    }

    .badge1{
        left:24px;
    }

    #main_id{
        width:750px;
    }


    #calendar{
        margin-top:0px;
        float:right;
    }

    #note{
        margin-right:20px;
        margin-top:0px;
        float:right;
    }


    #right_menu{
        width:463px;
        height: 221px;
        float: right;
        margin-right: 28px;

    }

}